@import  '../../app.component.scss';

header.app-header {
  height: 70px;
  background-color: $main-color;
  padding: 20px;

  @include media-breakpoint-down(sm) {
    height: 60px;
  }

  img.logo {
    width: 185px;

    @include media-breakpoint-down(sm) {
      width: 125px;
      position: relative;
    }
  }
}
