@import  '../../../app.component.scss';

.item-content {
  position: relative;
  height: 100%;
  width: 212px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-cost {
    margin: 0px 20px;
    padding: 11px 5px;
    padding: 4px 7px;
    border-radius: 4px;
    background-color: $gold-color;

    @include media-breakpoint-down(sm) {
      margin: 10px 20px;
    }
  }

  .card-level {
    bottom: 10px;
  }

}
